// VARIABLES

// Colors
$white							:	#fff;
$black							:	#000;
//$primary-color				:	#05082d;
$primary-color					:	#3d5776;
$primary-color-lighter			:	rgb(93, 116, 142);
$primary-color-lightest			:	rgb(136, 152, 172);
$primary-color-darker			:	rgb(39, 66, 98);
$primary-color-darkest			:	rgb(19, 44, 73);
$primary-color-slight-alpha		:	rgba($primary-color, .95);
$screen-color					:	rgba($primary-color, .5);
$accent-color					:	#0081c6;
$complement-color				:	#B48F55;
$complement-color-lighter		:	#DABA88;
$complement-color-lightest		:	#FFE8C4;
$complement-color-darker		:	#957034;
$complement-color-darkest		:	#704D16;
$gray-light						:	#f9f9f9;


// Fonts
$font-family-logo	:	'Architects Daughter', cursive;